@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #000;
    background-color: #FAF9F8;
}
/*Navagtion*/
.navagation-container{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.class-logo{
    width: 20vw;
    display: flex;
    justify-content: first baseline;
    align-items: center;
}
.class-logo p{
    margin-left: 2.5vw;
    user-select: none;
    font-weight: bold;
    font-size: 1.75vh;

}
.class-logo p:hover{
    cursor: default;
}
.navagation-list-container{
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navagation-extra-space{
    width: 20vw;
}
.navagation-container ul {
    list-style-type: none;
    font-size: 1.75vh;
    padding: 0;
    user-select: none;
  }
  
  .navagation-container ul li {
    display: inline-block; /* or display: block; */
    height: 30px; /* Adjust the height as needed */
    width: auto; /* Adjust the width as needed */
    margin: 2vh;
  }
  
  .navagation-container ul li a {
    text-decoration: none;
    text-align: center;
    
  }
  .navagation-container ul li a:hover{
    color: #F5CF1E;
  }

/*Body*/
.body-container{
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book-card{
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-card{
    width: 15vw;
    height: 40vh;
    background-image: url(./Assets/LookAWhite.jpg);
    background-size: contain;
}
.description-card{
    width: 45vw;
    height: 50vh;
    margin-left: 7.5vw;
    display: flex;
    flex-direction: column;
}
.description-card ul{
    margin-top: 5%;

}


.desc-card-title, .desc-card-author{
    color: #F5CF1E;
}


.desc-text{
    margin-top: 5%;
    line-height: 3vh;
}

.desc-card-section-two, .desc-card-section-three{
    font-size: 1.75vh;
}


/*Card Navagation*/
.card-navagation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
}

.card-navagation button{
    width: 10%;
    height: 35%;
    border-style: none;
    background-color: #F5CF1E;
    color: #000000;
    border-radius: 10px;
    user-select: none;
    font-weight: bold;
    margin: 1%;
}
.card-navagation button:hover{
    cursor: pointer;
    color: #F5CF1E;
    background-color: #000000;

}