@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #000;
    background-color: #FAF9F8;
    
    overflow-x: hidden;
}
/*Navagtion*/
.navagation-container{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.class-logo{
    width: 20vw;
    display: flex;
    justify-content: first baseline;
    align-items: center;
}
.class-logo p{
    margin-left: 2.5vw;
    user-select: none;
    font-weight: bold;
    font-size: 1.75vh;

}
.class-logo p:hover{
    cursor: default;
}
.navagation-list-container{
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navagation-extra-space{
    width: 20vw;
}
.navagation-container ul {
    list-style-type: none;
    font-size: 1.75vh;
    padding: 0;
    user-select: none;
  }
  
  .navagation-container ul li {
    display: inline-block; /* or display: block; */
    height: 30px; /* Adjust the height as needed */
    width: auto; /* Adjust the width as needed */
    margin: 2vh;
  }
  
  .navagation-container ul li a {
    text-decoration: none;
    text-align: center;
    
  }
  .navagation-container ul li a:hover{
    color: #F5CF1E;
  }

/*Body*/
.body-container{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.project-info{
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.proposal-info{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-info{
    height: 15%;
}

.project-info h1{
    color: #F5CF1E;
    padding-bottom: 5%;
    font-size: 6vh;
}
.proposal-info-img{
    width: 30%;
    height: 75%;
    background-image: url(./Assets/P1.png);
    box-shadow: 25px -25px #F5CF1E;
    
}
.proposal-info-text{
    font-size: 2vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.proposal-info-text p{
    width: 60%;
    text-align: justify;
    line-height: 3vh;
}
.proposal-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.proposal-info-text button{
    margin-top: 5% ;
    width: 15vw;
    height: 5vh;
    border-style: none;
    background-color: #F5CF1E;
    color: #000000;
    border-radius: 10px;
    user-select: none;
    font-weight: bold;
}
.proposal-info button:hover{
    cursor: pointer;
    color: #F5CF1E;
    background-color: #000000;

}
.team-info{
    padding-top: 10vh;
}
.team-info ul{
    list-style-type: none;
    font-size: 1.75vh;
    padding: 0;
    user-select: none;
}
.team-info ul li{
    display: inline-block; /* or display: block; */
    height: 30px; /* Adjust the height as needed */
    width: auto; /* Adjust the width as needed */
    margin: 2vh;
}

/* Major */
.body-container-major{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;


}
.major-img-1{
    width: 30%;
    height: 45%;
    background-image: url(./Assets/SUCS2.jpg);
    background-size: contain;
    
    box-shadow: 25px -25px #F5CF1E;

}
.major-img-2{
    width: 30%;
    height: 45%;
    background-image: url(./Assets/SUAlbers.jpg);
    background-size: contain;
    
    box-shadow: 25px -25px #F5CF1E;

}
.major-img-3{
    width: 30%;
    height: 45%;
    background-image: url(./Assets/SUCS.jpg);
    background-size: contain;
    
    box-shadow: 25px -25px #F5CF1E;

}
.major-img-4{
    width: 30%;
    height: 45%;
    background-image: url(./Assets/SUArt.png);
    background-size: contain;
    
    box-shadow: 25px -25px #F5CF1E;

}
.major-img-5{
    width: 30%;
    height: 45%;
    background-image: url(./Assets/OldMan2.png);
    background-size: contain;
    
    box-shadow: 25px -25px #F5CF1E;

}
.major-img-6{
    width: 30%;
    height: 45%;
    background-image: url(./Assets/OldMan1.png);
    background-size: contain;
    
    box-shadow: 25px -25px #F5CF1E;

}
.major-img-7{
    width: 30%;
    height: 45%;
    background-image: url(./Assets/OldMan3.png);
    background-size: contain;
    
    box-shadow: 25px -25px #F5CF1E;

}
.major-img-8{
    width: 30%;
    height: 45%;
    background-image: url(./Assets/OldMan4.png);
    background-size: contain;
    
    box-shadow: 25px -25px #F5CF1E;

}
.major-text{
    width: 50%;
}
.major-text p{

    width: 90%;
    text-align: justify;
    line-height: 3vh;
    font-size: 1.75vh;
}
.major-text h1, .major-text h3{
    
    width: 50%;
    text-align: left;
    color: #F5CF1E;
}